In [1]:
import pandas as pd

# 1. Load the data

In [3]:
url_confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
url_death = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
url_recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

df_confirmed = pd.read_csv(url_confirmed, error_bad_lines=False)
df_death = pd.read_csv(url_death, error_bad_lines=False)
df_recovered = pd.read_csv(url_recovered, error_bad_lines=False)

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1108)>

In [3]:
display(df_death.tail(),df_confirmed.tail(),df_recovered.tail())

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
248,NaN,Burma,21.9162,95.9560,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249,Anguilla,United Kingdom,18.2206,-63.0686,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250,British Virgin Islands,United Kingdom,18.4207,-64.6400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
251,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,MS Zaandam,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
248,NaN,Burma,21.9162,95.9560,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8,8,10
249,Anguilla,United Kingdom,18.2206,-63.0686,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
250,British Virgin Islands,United Kingdom,18.4207,-64.6400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
251,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,4
252,NaN,MS Zaandam,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
234,NaN,Burma,21.9162,95.9560,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235,Anguilla,United Kingdom,18.2206,-63.0686,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236,British Virgin Islands,United Kingdom,18.4207,-64.6400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
237,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238,NaN,MS Zaandam,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 2. Fill the NaN

In [4]:
df_confirmed['Province/State'].fillna(df_confirmed['Country/Region'], inplace=True)
df_death['Province/State'].fillna(df_death['Country/Region'], inplace=True)
df_recovered['Province/State'].fillna(df_recovered['Country/Region'], inplace=True)

In [5]:
df_confirmed[:5]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
0,Afghanistan,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,24,24,40,40,74,84,94,110,110,120
1,Albania,Albania,41.1533,20.1683,0,0,0,0,0,0,...,70,76,89,104,123,146,174,186,197,212
2,Algeria,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,90,139,201,230,264,302,367,409,454,511
3,Andorra,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,75,88,113,133,164,188,224,267,308,334
4,Angola,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,1,2,2,3,3,3,4,4,5,7

# 3. Reshape

In [6]:
def reshape_df(df, state = 'Confirmed'):
    df.set_index(['Province/State','Country/Region','Lat','Long'], inplace=True)
    df = df.stack().reset_index(drop=False)
    df.rename(columns={'level_4':'Date',0:state},inplace=True)
    return df

In [7]:
df_confirmed = df_confirmed.pipe(reshape_df,'Confirmed')
df_death = df_death.pipe(reshape_df,'Death')
df_recovered = df_recovered.pipe(reshape_df,'Recovered')

In [8]:
display(df_death.tail(),df_confirmed.tail(),df_recovered.tail())

      Province/State Country/Region  Lat  Long     Date  Death
17199     MS Zaandam     MS Zaandam  0.0   0.0  3/25/20      0
17200     MS Zaandam     MS Zaandam  0.0   0.0  3/26/20      0
17201     MS Zaandam     MS Zaandam  0.0   0.0  3/27/20      0
17202     MS Zaandam     MS Zaandam  0.0   0.0  3/28/20      0
17203     MS Zaandam     MS Zaandam  0.0   0.0  3/29/20      0

      Province/State Country/Region  Lat  Long     Date  Confirmed
17199     MS Zaandam     MS Zaandam  0.0   0.0  3/25/20          0
17200     MS Zaandam     MS Zaandam  0.0   0.0  3/26/20          0
17201     MS Zaandam     MS Zaandam  0.0   0.0  3/27/20          0
17202     MS Zaandam     MS Zaandam  0.0   0.0  3/28/20          2
17203     MS Zaandam     MS Zaandam  0.0   0.0  3/29/20          2

      Province/State Country/Region  Lat  Long     Date  Recovered
16247     MS Zaandam     MS Zaandam  0.0   0.0  3/25/20          0
16248     MS Zaandam     MS Zaandam  0.0   0.0  3/26/20          0
16249     MS Zaandam     MS Zaandam  0.0   0.0  3/27/20          0
16250     MS Zaandam     MS Zaandam  0.0   0.0  3/28/20          0
16251     MS Zaandam     MS Zaandam  0.0   0.0  3/29/20          0

# 4. Merge

In [9]:
# temporary fix
df_confirmed['Date'] = df_confirmed['Date'].astype('datetime64[ns]')
df_death['Date'] = df_death['Date'].astype('datetime64[ns]')
df_recovered['Date'] = df_recovered['Date'].astype('datetime64[ns]')

In [10]:
database = pd.merge(df_confirmed, df_death)
database = pd.merge(database,df_recovered, how='left')

In [11]:
# weird because it is not the same
display(database.isna().sum(),df_confirmed.shape[0] - df_recovered.shape[0])

Province/State       0
Country/Region       0
Lat                  0
Long                 0
Date                 0
Confirmed            0
Death                0
Recovered         1224
dtype: int64

952

# 5. Convert type

In [12]:
database['Date'] = database['Date'].astype('datetime64[ns]')

# 6. Filtering Reunion Value

In [13]:
# a specific database for Reunion island
run_database = database[database['Province/State'] == 'Reunion']
run_database

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Death,Recovered
7616,Reunion,France,-21.1351,55.2471,2020-01-22,0,0,0.0
7617,Reunion,France,-21.1351,55.2471,2020-01-23,0,0,0.0
7618,Reunion,France,-21.1351,55.2471,2020-01-24,0,0,0.0
7619,Reunion,France,-21.1351,55.2471,2020-01-25,0,0,0.0
7620,Reunion,France,-21.1351,55.2471,2020-01-26,0,0,0.0
...,...,...,...,...,...,...,...,...
7679,Reunion,France,-21.1351,55.2471,2020-03-25,111,0,1.0
7680,Reunion,France,-21.1351,55.2471,2020-03-26,135,0,1.0
7681,Reunion,France,-21.1351,55.2471,2020-03-27,145,0,1.0
7682,Reunion,France,-21.1351,55.2471,2020-03-28,183,0,1.0
7683,Reunion,France,-21.1351,55.2471,2020-03-29,183,0,1.0

Drop duplicated values

In [14]:
run_database.duplicated('Date').sum()

0

In [15]:
run_database = run_database.drop_duplicates('Date')
run_database.shape

(68, 8)

In [20]:
run_database = pd.DataFrame([1,2,3,4,5,6])

In [21]:
run_database

   0
0  1
1  2
2  3
3  4
4  5
5  6

# 7. Save

In [ ]:
run_database.to_csv('run_database.csv', index=False)

In [ ]:
#save it as a Gsheet
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    'drive_key.json', scope)
gc = gspread.authorize(credentials)

spreadsheet_key = '1uZrsUXXBHcwLJu5kg3wY39T_5sudX_keCRtpXvTRQGo'
wks_name = 'Master'
d2g.upload(run_database, spreadsheet_key, wks_name, credentials=credentials, row_names=True)